doctype html
html(lang="en")
    head
        title Oops!
    body(style={margin: '10%', color: '#ABABAB', 'text-align': 'center', 'font-family': 'Avenir Next,Segoe UI, sans-serif'})
        h1(style={'font-size': "6em", 'line-height':'1em'}) 👻
        h1(style={color: '#424242', 'font-weight': '600', 'font-size':'1.6em'})= message
        p= hint