doctype html
html(lang="en")
    head
        title Whisper
    body(style={margin: '10%', color: '#ABABAB', 'text-align': 'center', 'font-family': 'Avenir Next,Segoe UI, sans-serif'})
        h1(style={'font-size': "6em", 'line-height':'1em'}) 👻
        h1(style={color: '#424242', 'font-weight': '600', 'font-size':'1.6em'})= name
        h1(style={color: '#424242', 'font-weight': '400', 'font-size':'1em'}) #{description} 
            a(href="https://github.com/SirAnimesh/Whisper-Node.git") More here.
        p #{hostname}/api/#{version}